/* --------------------------------------------- ADMIN ADD ITEM ------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

h2{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.add {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #666;
    border: 1px solid #666;
    transition: background-color 0.3s;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.add:hover {
    background-color: #333;
    border: 1px solid #333;
}

.edit-btn, #info{
    color: #fff;
}

#ban:hover , #delete:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: dark red;
}

#upgrade:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: darkblue;
}

.edit-btn:hover{
    box-shadow: 0 0 8px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: orange;
    color: #fff;
}

.custom-dark-blue {
    background-color: #004085; 
    border-color: #004085; 
}

.custom-dark-blue:hover, .custom-dark-blue:active {
    background-color: #003366; 
    border-color: #003366;
}

.table tbody tr:hover {
    cursor: pointer; 
    background-color: #d9d9d9; 
}

.card {
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    background-color: #e9ecef; 
    border: 1px solid #dee2e6; 
}

.card .fa {
    margin-bottom: 15px;
    color: #4a7ebc; /* Muted blue for icons */
}

.card h4 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #343a40; /* Darker text for contrast and readability */
}
.card h5 {
    font-size: 1.2em;
    color: #495057; 
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #adb5bd;
}
