#edit-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.update-form {
  width: 30em;
  text-align: center;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5em;
  background-color: #e3e2e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.update-form h2 {
  padding-bottom: 1em;
  font-size: 1.5em;
  color: #626572;
}

.update-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-form form input[type="text"],
.update-form form input[type="email"],
.update-form form input[type="password"],
.update-form form input[type="file"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.update-form form button[type="submit"] {
  width: 100%;
  padding: 0.8em;
  background-color: #8a9194;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 16px;
}

#pencilButton{
  display:;
}

.update-form form button[type="submit"]:hover {
  background-color: #333;
}

@media screen and (max-width: 600px) {
  .update-form {
      width: 100%;
  }
}
#imagePreview {
  max-width: 200px;
  max-height: 200px;
  display: none;
  margin-bottom: 20px; 
}

.bold-text {
  font-weight: bold;
}

.thin-text {
  font-weight: 300; 
}

.user-info-card, .card {
  border: 2px solid black; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  overflow: hidden; 
  transition: box-shadow 0.3s; 
  margin-bottom: 20px; 

}

.user-info-card:hover , .card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}