.shop {
    max-width: 100%;
}

.shop .col-md-3 {
    background-color: #e5e5e5;
    height: 100%;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.shop .col-md-3 label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Playfair Display', serif;
    color: #212529;
}

.shop .col-md-3 label:first-child {
    padding-top: 6rem;
}

.shop .col-md-9 {
    background-color: #e5e5e5;
    margin-top: 0;
}

.shop h3 {
    padding-top: 2rem;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.shop .col-md-9 li {
    list-style-type: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.shop .button-margin {
    margin-left: 10px;
}

.shop li.w-100 form button {
    white-space: nowrap;
    background-color: #fff;
    color: #666;
}

.shop .card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.shop .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.shop .card-body {
    text-align: center;
}

.shop .btn-primary {
    background-color: #007bff;
    border: none;
}

.shop .btn-primary:hover {
    background-color: #0056b3;
}

#subcategoryDiv {
    flex-wrap: wrap;
    justify-content: start;
}

.button-checkbox {
    visibility: hidden;
}

.button-label {
    padding: 10px;
    background-color: #C6BB9A;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button-checkbox:checked + .button-label {
    background-color: #CC6E49; /* Blue */
}


.styled-checkbox {
    display: none;
}

.container-stock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stockText {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

.styled-checkbox + label {
    padding: 10px;
    background-color: #c4ad69; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: fit-content; 
    border-radius: 12px;
}

.styled-checkbox:checked + label {
    background-color: #CC6E49; /* Blue */
    color: white;
}

#parent-div{
    position: relative;
}

.pagination-container {
    position: relative;
    left: 38%;
    transform: translateX(-50%);
}

/* Custom Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: block;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination .active a,
.pagination a:hover {
    background-color: #738fac;;
    color: #fff;
}

.pagination .disabled {
    pointer-events: none;
    opacity: 0.6;
}

.pagination-dots {
    margin: 0 5px;
}

/* Optional: Arrow Icons */
.pagination-arrow {
    font-size: 18px;
    font-weight: bold;
}

#filterDiv{
    padding: 2rem 0 0 0;
    width: 100%;
}

#filterButton{
    width: 100%;
}

.btn-block{
    width: 100%;
}

/* Optional: Adjustments for Small Screens */
@media (max-width: 768px) {
    .pagination a,
    .pagination span {
        padding: 6px 10px;
    }
}
